{%  extends 'product/base.html' %}

{%  block content %}
<div class="row">
      <div class="col-md-4">
        <h2>มือถือ</h2>
        <p>มือถือรุ่นใหม่ล่าสุด สนใจคลิ๊กได้เลย</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>โน๊ตบุ๊ค</h2>
        <p>โน๊ตบุ๊ครุ่นใหม่ล่าสุด สนใจคลิ๊กได้เลย </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>พีซี</h2>
        <p>พีซีรุ่นใหม่ล่าสุด สนใจคลิ๊กได้เลย</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

{%  endblock content %}